aws_owners:
  - "self"
  - "050946403637"  # mi-shared
  - "624664959560"  # tier1
  - "150454740545"  # tier3
  - "135144572806"  # polestar
  - "299378319612"  # internal

# Maps directories with cluster names.
clusters_map:
  "/creditapp": "mi-tier3"
  "/paymentinsights": "mi-pi"
  "/tier1": "tier1"
  "/tier3": "mi-tier3"
  "/t3can": "mi-tier3"
  "/t3usa": "t3usa"
  "/unhaggle": "mi-unhaggle"

# Maps environments (dev, prod, stage, etc.) and directories (tier1, tier3,
# peb, etc.) to aws profiles. This is used to try to guess the aws profile
# from a seed (tier3-dev, peb-prod, tier1-stage, etc.)
aws_profiles_map:
  dev: "mi-dev"
  intranet: "mi-is"
  nomad: "mi-is"
  peb: "mi-tier3"
  pi: "mi-pi"
  qa: "mi-qa"
  sandbox: "mi-sandbox"
  stage: "mi-stage"
  unhaggle: "mi-unhaggle"

clusters:
  # This is the account used to build, provide and consume AMIs.
  unhaggle-ami:
    aws_id: 299378319612
    regions:
      - ca-central-1
      - us-east-2
    sentry_id:
      dev: unhaggle-dev
      stage: unhaggle-stage
      qa: unhaggle-qa
      prod: unhaggle-prod
    images:
      - base
      - basedocker
      - app
      - tunnel
      - ftp
      - redash
      - nomad
      - cluster

  mi-is:
    aws_id: 299378319612
    profile: mi-is
    regions:
      - us-east-2
      - ca-central-1
    images:
      - app
      - tunnel

  mi-shared:
    aws_id: 050946403637
    profile: mi-shared
    regions:
      - ca-central-1
    images: []

  mi-sandbox:
    aws_id: 698588692291
    profile: mi-sandbox
    regions:
      - ca-central-1
    images: []

  mi-dev:
    aws_id: 418278274242
    profile: mi-dev
    regions:
      - ca-central-1
    images: []

  as-stage:
    aws_id: 211125390109
    profile: as-stage
    regions:
      - ca-central-1
    images: []

  as-qa:
    aws_id: 730335224882
    profile: as-qa
    regions:
      - ca-central-1
    images: []

  as-prod:
    aws_id: 905418270840
    profile: as-prod
    regions:
      - ca-central-1
    images: []

  as-dev:
    aws_id: 267504176449
    profile: as-dev
    regions:
      - ca-central-1
    images: []

  mi-stage:
    aws_id: 756814365861
    profile: mi-stage
    regions:
      - ca-central-1
      - us-east-2
    images: []

  mi-qa:
    aws_id: 350718436548
    profile: mi-qa
    regions:
      - ca-central-1
      - us-east-2
    images: []

  mi-prod:
    aws_id: 687374155505
    profile: mi-prod
    regions:
      - ca-central-1
    images: []

  mi-tier1:
    aws_id: 624664959560
    profile: mi-tier
    regions:
      - ca-central-1
    sentry_id:
      dev: tier1-dev
      stage: moto-stage
      prod: t1-moto-prod
    newrelic_id:
      dev: 518442355
      stage: 544578180
      prod: 516056459
    psql_version: 12

  mi-creditapp:
    aws_id: 150454740545
    profile: mi-tier3
    regions:
      - ca-central-1
    images:
      - app
      - tunnel
      - clean
      - ftp
    sentry_id:
      dev: creditapp-dev
      stage: creditapp-stage
      qa: creditapp-qa
      prod: creditapp-prod
    newrelic_id:
      prod: 576760411

  mi-tier3:
    aws_id: 150454740545
    profile: mi-tier3
    regions:
      - ca-central-1
      - us-east-2
    images:
      - app
      - tunnel
      - clean
      - ftp
    newrelic_id:
      dev: 560968686
      prod: 85184725
      stage: 343583357
      qa: 547461357
    sentry_id:
      # TODO: How to define Sentry environment?
      dev: motocommerce-py-stage
      stage: motocommerce-py-stage
      qa: motocommerce-py-stage
      prod: motocommerce-py-prod

  tier3:
    aws_id: 150454740545
    profile: mi-tier3
    regions:
      - ca-central-1
      - us-east-2
    images:
      - app
      - tunnel
      - clean
      - ftp
    newrelic_id:
      dev: 560968686
      prod: 85184725
      stage: 343583357
      qa: 547461357
    sentry_id:
      # TODO: How to define Sentry environment?
      dev: motocommerce-py-stage
      stage: motocommerce-py-stage
      qa: motocommerce-py-stage
      prod: motocommerce-py-prod

  t3can:
    aws_id: 150454740545
    profile: mi-tier3
    project: tier3
    regions:
      - ca-central-1
    images:
      - app
      - tunnel
      - clean
      - ftp

  t3usa:
    aws_id: 150454740545
    profile: t3usa
    project: tier3
    regions:
      - us-east-2
    images:
      - app
      - tunnel
      - clean
      - ftp

  mi-pi:
    aws_id: 475884482681
    profile: mi-pi
    regions:
      - ca-central-1
    psql_version: 12
    requires_name: requirements.txt

  mi-unhaggle:
    aws_id: 244165182258
    profile: mi-unhaggle
    regions:
      - ca-central-1

  mi-main:
    aws_id: 226874278664
    profile: mi-main
    regions:
      - ca-central-1
